
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    font-family: 'Montserrat', sans-serif;
    color: white;


}


    


.sp1{

    color: yellow;
}

.h1{
         
    text-align: left;
    display: block;
    margin-bottom: 5px;
    padding-top: 11px;
    padding-left: 15px;
    padding-bottom: 5px;
    margin-left: 10px;
    margin-bottom:-36px;
    
}
.head{
    
      height: 95vh;
    background-image: url('../my\ back.jpg');
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;


}

 ul{

    
    text-align: right;
    padding-top: 5px;
    padding-top: 5px;
    padding-right: 56px;
    margin-right: 10px;
    margin-left: 268px;
    margin-top: -17px;


}

 li{

   
    display: inline;
    margin-left: 15px;
    

} 

 a{
      text-decoration: none;
      color:white
}



.sp2{
color: yellow;
}


.head3{

    
    padding-top: 67px;
    padding-left: 490px;

}

.head22{
    
    padding-top: 4px;
    padding-left: 228px;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Libre Baskerville', serif;
    word-spacing:10PX;
    
}

.head23{

    padding-top: 11px;
    padding-left: 147px;
}


.head24{
 
    padding-left: 400px;
}
.sp24{
 
    padding-left: 200px;
}
.head25{
      
       border:15px solid #f5f54d;
      display: inline-block;
      background-color: yellow;
      padding-left: 10px;
      padding-right: 10px;
      margin-left: 393px;
      margin-right: 615px;
      border-radius: 162px;
      font-size: 12px;
      color: whitesmoke;
      text-align: center;
      margin-top: 31px;
      font-weight: 700;
}

.head26{

    border:2px solid ;
     
      
      
      display: inline-block;
      margin-right: 5px;
      border-radius: 162px;
      border-color: rgb(173, 173, 102);
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 8px;
      padding-bottom: 8px;
      margin-left: -576px;
      margin-right: 5px;
      color: rgb(173, 173, 102);
      margin-top: 50px;
      font-size: 20px;
}